@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    font-weight:400;
    font-size: 14px;
}
a:hover{
    text-decoration: underline;
}
.header-google{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 50px;
    /* -ms-flex-item-align: flex-end;  */
}
.header-google .header-inner-google{
    position: relative;
    float: right;
    display:flex;
}
.app-icon-top a:hover{
    text-decoration: none;
}
.sign-in-google-top a{
    background-color:#4285F4;
    display: inline-block;
    padding:6px 12px;
    color: #fff;
    font-weight:300;
    text-decoration: none;
    font-size: 13px;
}
.header-inner-google::after{
    content:"";
    display: block;
    clear: both;
}
.gmail-top{
    margin-right:14px;
    margin-top:20px;
}
.Gmail-ddr{
    margin-right: 12px;
    margin-top:23px;
}
.app-icon-top{
    margin-top:15px;
}
.app-icon-top div.row{
    display:flex;
    margin-right: 15px;
    line-height:8px;
    /* margin-top:10px; */
    font-size: 35px;
    
}
.top-app-icon{
    color: #000;
    margin:-1px
}


/* middle google items, */

.middle-google-section{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 578px;
}
input[type="search"]{
    width: 100%;
    height: 45px;
    border-radius:35px;
    margin-top:20px;
    border: 1 solid white;
    border: none;
    box-shadow: 0.1px 0.1px .5px .5px rgba(0, 0, 0, 0.3);
    outline:none;
    padding:0 25px;
    font-size: 16px;
}
.google-btn a{ 
    font-size:14px;
    display: inline-block;
    margin-top:35px;
    padding:8px 16px;
    margin-right:10px;
    border:1px solid white;
    background-color: rgba(236, 233, 233, 0.363);
    color: black;
    font-weight: 400;
    letter-spacing: 0.3px;
    
}
.google-btn a:hover{
    text-decoration: none;
    border-color:rgb(224, 222, 222);
}
.other{
    margin: 22px 0px;
}
.other p a{
    display: inline-block;
    font-size:14px;
    font-weight: 400;
}
.bottom-google-search{
    margin-top:35px;
    font-size: 13px;
}
.bottom-google-search p span a{
    margin-left: 7px;
    font-size: 12px;
}

/* footer-section */

footer .footer-section{
    position: absolute;
    /* top: 89vh; */
    bottom: 0;
    /* display: block; */
    width: 100%;
    color: #414141de;
    background-color: #f2f2f2;
    letter-spacing: 0.3px;
    font-weight:300;
    /* font-size: 13px; */
    
}

footer .footer-section .country{
      width: 100%;
      position: relative;
      padding: 15px 31px;
     
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    
}
.footer-bottom .footer-left,
.footer-bottom .footer-right{
      position: relative;
      padding: 15px 35px;
}
.footer-left-links a,
.footer-right-links a{
 margin-right: 22px;
 text-emphasis: none;
 color: #414141de;
}
hr{
        width:100%;
        border:0.5px solid rgb(199, 199, 199)
     
}

.footer-bottom{
    /* background-color: #fff; */
    border-top:1px solid rgba(182, 180, 180, 0.384);
    /* margin-top:12px */
}